/*--General--*/
embed{
    opacity: 0.8;
    top:0px;
    left: 0px;
}
body{
    border: 1px solid transparent;
    height: 100px;
    position: relative;
}

embed.footer{
    height: 100%;
    bottom: 0px;
    background: ;
    margin-bottom: 0px;
}
/*--메뉴 경로--*/

#menuRoad{
    background: ;
    font-size: 1.2em;
}

/*-- 메뉴바 고려한 섹션 설정 --*/
section{
    background: ;
    padding:  80px 0px 0px 240px ;

}

/*-- 갤러리 미리보기 --*/

section>div#gallery_preview{
    background:;
    columns: ;
    display: flex;
    justify-content: space-around;
}
#gallery_preview>li{
    
    margin:20px;
    width: 100%;
    overflow: hidden;
}
    #gallery_preview>#preview{
        height: 300px;
        border: 2px pink solid;
        border-radius: 10px;
    }


/*-- 갤러리 이미지 보기 --*/
section>h2{
    text-align: ;
    margin: 50px 0px 30px 0px;
    border-bottom: 4px solid lightgray ;
    width: 80%;
    line-height: 2em;
}


/*--갤러리 보이기 --*/
#class_syllabus{
    background: ;
}
    #class_syllabus>h3{

    }   

    #class_syllabus>p{
        margin:10px;
        background: white;
        min-height: 100px;
        padding: 20px;
        border: 1px solid lightgrey;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

    }   
    #class_syllabus>b{
        display: inline-block;
        background: mediumpurple;
        padding:10px 30px;
        border-radius: 30px;
        margin-right: 20px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }


/*--갤러리 보이기 --*/

#gallery_preview{
    display: flex;
    justify-content: space-between;
    background: ;
}
    #gallery_preview>li{
        width: 45%;
        border: 0px solid red;
        margin-bottom: 20px;
    }
    ul#gallery_imgs{
        border-top: 2px solid grey;
        text-align: center;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        background:;
    }   
        
        ul#gallery_imgs>li{
            background: skyblue;
            text-align: center;
            width: 200px;
            height: 200px;
            margin: 20px;
            position: relative;
        }
        l#gallery_imgs>li.click__upLoad{
            background: ;
            padding:20px;
            border: 5px solid mediumpurple;
            box-sizing: border-box;
            
        }
        #gallery_imgs>li > a> img{
            float: ;
            text-align: center;
        }
        
        #gallery_imgs>li >  b{
            position: absolute;
            bottom: 0px;
            display: block;
            background: rgb(0,0,0,0.3);
            width: 100%;padding: 10px 0px;
            color: white;
        }
/*-- 갤러리 이미지 모음 --*/


/*--marsorny--*/

.grid{
    column-width: 30%;
}
.grid-item { 
    display: inline-block;
    width: 200px;
    overflow: hidden;
    
}
.grid-item--width2 { 
    width: 400px; 
}
