/*--nav.css--

* {
    margin: 0px !important;
    padding: 0px;
    text-align: ;
    list-style: none !important; 
}

li{
  list-style: none;
}


}
/*----General----
html{
  width: 100vw;
  height: 100%;
}
body{
  width: 100vw;
  position: relative;
  height: ;
}

/*----General----*/
a{
  font-weight: bold;
  font-size: 1.1em;
}

/*----상단바----*/

#gnb{
    position:fixed;
    z-index: 10;
    background: slategray;
    width: 100%;
    height: 50px;
    
    top: 0px;
    right:0px;
    left: 0px;
    
}

  #gnb>ul{
    
  }
    #gnb>ul>li{
      display: ;
      float: right;
      background:;
      position: relative;
      padding: 20px 10px;
      
    }
    #gnb>ul>li>a{
      color: white;
    }
      #gnb>ul>li>ol{
        position: absolute;
      }
        #gnb>ul>li>ol>li{
          color:white;
        }
        #gnb>ul>li>ol>li>a{
          color:white;
        } 
        #gnb>ul>li#logo{
          position: fixed;
          background:;
          left: 20px;
          top: 0px;
          border:red 0px solid;
          padding:5px;
        }

/*----좌측 바 메뉴----*/

aside#dashBoard_left{
  position: fixed;
  z-index: 9;
  background: white ;
  background-size: auto 100%;
  width: 200px; 
  height: calc(100vh - 0px);
  padding: 20px 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0,0, 0.2);

}
  aside#dashBoard_left>ul{

  }
    aside#dashBoard_left>ul>li{
      padding:;
      background:;
      margin-top:10px;
      
    }
    aside#dashBoard_left>ul>li:hover{
      
      
    }
   
      aside#dashBoard_left>ul>li>a{
        display: block;
        text-indent: 20px;
        width: 100%;
        padding: 10px 0px;

      }
      aside#dashBoard_left>ul>li:hover {
        background: lightgray;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
      aside#dashBoard_left>ul>li#makeClass{
        border: mediumslateblue 5px solid;
        background: rgba(255, 255, 255, 0);
        margin-top: 80px !important;
        text-align: center;
        border-radius: 40px ;
       
       
      }
      aside#dashBoard_left>ul>li#makeClass>a{
        text-indent: 0px !important;
      }

      aside#dashBoard_left>ul>li#makeClass:hover {
        box-shadow: 2px 2px 5px 1px dimgray;
        color: white;
      }

      aside#dashBoard_left>ul>li>a{

      }
        aside#dashBoard_left>ul>li>ol{

        }
          aside#dashBoard_left>ul>li>ol>li{
            display:  block;
            margin:20px auto;
            background:;
            border:0px solid green;
            text-align: right;
         }
         aside#dashBoard_left>ul>li>ol>li>a{
           margin:10px 30px ;
           text-align: ;
         }













@media not screen and (min-width:960px){
  
  html{
    background: lightpink;
  }
}      