/*--- Repeated ---*/

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
  }
  
  /*--dashBoard CSS--*/

iframe{
    padding: 0px !important;
    margin: 0px !important;
    display: block;

}
body, html{
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  border-top: 1px solid transparent;
}
embed{ 
  width: 100vw;
  padding:0px !important;
  height: 100vh;
  position: absolute;
}

embed.footer{
  height: 100%;
  position: absolute;
  bottom:0px !important;
  padding-top: auto;
}

.none{
    display: none;
}

a:link {
  color :;
}
a:visited {
  color : dimgrey;
}
a:hover {
  color : indigo;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
a:active {
  color : ;
}

button:hover{
  cursor: pointer;
}

/*-- Display styling --*/

.grid__container{
 display: grid;
}

.absolute_parent{
  position:relative;
}
.absolute_parent>*{
  position: absolute;
}

:root{
  --accent-color:mint #3bba9c;
  --dark-gray: #2e3047;
  --Light-gray: #707793;
}
