/* sticky.css */
html, body{
    position: relative;
    border-top: 10px solid green;
    scroll-behavior: smooth;
}
/*-- CSS + JQuery --*/

.is-showing{
    transform: translateY(0px) !important;
    opacity: 1 !important;
}
.not-shown-yet{
    transform: translateY(50px);
    opacity: 0;

}
.bg-white{
    background: black !important;
}

/*-- 상단 네비게이션 --*/
nav{
    position:fixed;
    z-index: 3;
    width: 100vw;
    background: rgba(0,0,0,0.2);
    margin-top: -2px;
}
    nav>ul{
        display: flex;
        justify-content:flex-end;
    }
        nav>ul>li{
            margin: 5px 20px;
        }
        nav>ul>li>a{
            color:white !important;
        }
/*-- 우측 네비게이션 --*/
aside{
    position: fixed;
    z-index: 10;
    background: rgba(0,0,0,0.2);
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
   
}
aside>*{
    margin: 20px 5px;
    align-items: ;
}    
ul.navBar{
    top: ;
    margin-top: ;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0px solid rgb(165, 154, 156);
}
    ul.navBar>li{
        height: 30px;
        width: 30px;
        margin: 5px ;
        border: 0px solid green;
        display: flex;
        justify-content: center;
        position: relative;
    }
        ul.navBar>li>a{
            display: inline-block;
            width: 5px;
            height: 30px;
            background: white;
            text-align: center;
            float: ;
        }
        ul.navBar>li:hover{
            cursor: pointer;
        } 
    ul.navBar>li:hover a{
        background: rgba(0,0,0,0.5);
    }
    ul.navBar>li>span{
        
    }

/*-- 딱 붙는거 Sticky --*/
ul.sticky{
    border-top: 1px solid white;
}

    ul.sticky>li{
        background-size: cover;
        padding-bottom: 56%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
    }

    ul.sticky>li:nth-child(1){
        background: url(../img/Sticky/sticky_01.png) center center;
        background-size: cover;
        margin-top: -5px;
    }
    ul.sticky>li:nth-child(2){
        background: url(../img/Sticky/sticky_02.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(3){
        background: url(../img/Sticky/sticky_03.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(4){
        background: url(../img/Sticky/sticky_04.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(5){
        background: url(../img/Sticky/sticky_05.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(6){
        background: url(../img/Sticky/sticky_06.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(7){
        background: url(../img/Sticky/sticky_07.png) center center;
        background-size: cover;
    }
    ul.sticky>li:nth-child(8){
        background: url(../img/Sticky/sticky_08.png) center center;
        background-size: cover;
    }
        ul.sticky>li>span{
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2;
            transition:0.5s ease-in-out;
        }

        {
            position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 3;
        }
        ul.sticky>li:nth-child(1)>span{
            background: url(../img/Sticky/sticky_01-1.png) center center;
            background-size: cover;
            
        }
        ul.sticky>li:nth-child(2)>span{
            background: url(../img/Sticky/sticky_02-1.png) center center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(3)>span{
            background: url(../img/Sticky/sticky_03-1.png) left center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(4)>span{
            background: url(../img/Sticky/sticky_04-1.png) center center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(5)>span{
            background: url(../img/Sticky/sticky_05-1.png) center center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(6)>span{
            background: url(../img/Sticky/sticky_06-1.png) center center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(7)>span{
            background: url(../img/Sticky/sticky_07-1.png) center center;
            background-size: cover;
        }
        ul.sticky>li:nth-child(8)>span{
            background: url(../img/Sticky/sticky_08-1.png) center center;
            background-size: cover;
        }

footer{
    min-height: 500px;
}        