* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family:  ;
    color: dimgray;
    list-style-type: none;
}

.none{
  display:none;
}

button{
  padding: 20px;
  transition-delay:  0.2s;
}


h4{
  
}

button:hover{
  cursor: pointer;
}



  /*---- 헤더 ----*/

header{
  background-color: lightsalmon;
  padding: 30px;
  color: white;
  display: none;
}
  /*---- 이미지 업로드 페이지 ----*/
title{
  background: rosybrown;
  color:black;
}
  title>h2{
   
    
  }

html, body{
  position: relative;
  width: 100%;
  height: 100%;
}
  /*---- 이미지 업로드 페이지 ----*/
div#gnb{
  position: absolute;
  background: red;
  width: 100%;
  z-index: 101;
  display: none;
}

  /*---- 이미지 업로드 페이지 ----*/
aside{
  background:rgba(255,255,255,0.9);
  position: fixed;
  width: 400px;
  height: 100vh;
  right: 0px;
  z-index: 100;
  filter: drop-shadow(0 0 0.25rem rgba(0,0,0,0.2));
  display: none;
}
  aside>span{
    position:absolute;
    left: 20px;
    top:20px;
  }
  aside>span:hover{
    cursor: pointer;
    transform: translate(-1px,-1px);
  }
  
  aside>#imgBox_aside{
    background: rosybrown;
    min-height: 200px;
    padding:;
    margin:100px 30px 20px;
    

  }
    aside>#imgBox_aside>img{
      margin:30px;
    }
    aside>#textBox_aside>ul{

      }
        aside>#textBox_aside>ul>li{
          background;
          margin:10px;
          height: 30px;
          padding:10px;
        }
        aside>#textBox_aside>ul>li>label{
          
        }
        aside>#textBox_aside>ul>li>input{
          width: 60%;
          padding: 10px;
          float: right;
        }
    aside>#textBox_aside>button{
      width: 90%;
      margin-top: 30px;
      padding:20px ; 
    }
  /*---- 이미지 업로드 페이지 ----*/

  
#title{
  background: mistyrose !important;
  height: 50px !important;
  padding-top: 10px;
  line-height: 50px;
  
}
  #title>h2{
    
  }
h3 {
  height: 50px;
  vertical-align: bottom;
  padding: 20px auto;
  border: lavender 0px solid;
  line-height: 50px;
  margin: 30px 0px;
  border-bottom: 2px rgba(0,0,0,0.1) solid;
}
#classLists{
  background:;
  min-height: 500px;
  margin: 50px;
}
  #classLists>ol{
    width: ;
   
    min-height: 50px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rowsbord: minmax(50px, auto);
      
  }
    #classLists>ol>li{
      grid-gap: 10px;
      padding:10px;
      margin: 10px;
      vertical-align: center;
       
      background: mediumpurple;
      position: relative;   
    }
      #classLists>ol>li>h4{
        border-bottom: 2px white solid;
        color: white;
        padding:5px;
      }

      li.makeClass{
        background: indigo !important;
      }
      li.makeClass:hover{
        background: lavender !important;
        cursor: pointer;
        transform: translate(-1px,-1px);
      }
        li.makeClass>img{
          background:;
        }
        li.makeClass>img:hover{
          display: block;
          background; 
          transform: rotate(90deg);
          
        }


    #classLists>ol>li>p{
    color:white;
    margin:10px;
    }
    #classLists>ol>li>b{
      color:white;
      margin:10px;
      position: absolute;
      left: 0px;
      bottom: 0px;;
      }

    #classLists>ol>li>button{
      float: right;
      height: ;
      text-align: center;
      display: ;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
    }
    
    
  .makeClassBt{

    background-color: paleturquoise ;
    padding: 10px;
    margin:20px 10px; 
    width: 100px;

    color:;
    float: right;
  }

  #classLists>.makeClass:hover{
    cursor: pointer;
    background-color: white;
    color: indigo;
    transition-delay: 1s;
  }





/*---- 네비게이션 ----*/

nav#leftside{
  background :rgba(0, 0, 0, 0.5);
  
  position: fixed;
  width: 160px;
  height: 100vh;
  left:0px;
  z-index: 100;
  filter: drop-shadow(0 0 0.25rem dimgray);
}


nav#leftside>div{
  min-height: 30px;
  padding:  10px 10px;
  color: white;
}
  nav#leftside>div>img{
    padding: 20px 5px;
  }

nav#leftside>div:hover{
  color: tomato;
  cursor: pointer;
  background: white;
}

nav#leftside>#div7{
  background:white;
  color:dimgray;
  line-height: 2em;
}

/*---- 본문 ----*/


.container{
	position: relative;
  padding-left: 160px;
}

/*----img Upload----*/

#imgUpload{
  border: 0px solid gray;
  background: lightgrey;
  padding:10px 0px;
}
  #imgUpload>h3{
    background:;
    width: 100%;
    display: block;
  }
      #imgUpload>div {
        
        padding: 5em;
        border-bottom: ;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
      }
      .container>div{
        min-height: ;
      }

  
  #imgUpload>div{
   
    padding: 1em;
    display: ;
    width: ;
  }
      .imgBox{
        width: ;
        background: mistyrose ;
        transition: background-color .5s;
        padding-top: 10%;
        box-shadow: 1px 1px 1px 1px lightgray inset;
        margin-right:50px;
      }
        .imgBox:hover{
          background-color: gray;
          color:white;
        }
          .imgBox>img{
            padding:30px;
          }
        #imgUpload>.textBox{

        } 

        .textBox {

        }
          .textBox>div{
            border: 0px red solid;
            min-height: 30px;
            padding:2px;
            
          }
          .textBox>div>*{
            
          }
    
          .textBox>div>label{
            width:20%;
            padding-bottom:;
            line-height: ;
            height: ;
            text-align: left;;
            float: left;
          }
    
          .textBox>div>input{
            margin: ;
            padding:5px;
            width: 70%;
            background: ;
            float: right;
          }
            .textContents {
              height: 100px;
            }
    
          .textBox>button{
            display: ;
            padding: 10px;
            margin-top: 20px;
            width: 100%;
            float: ;
          }

/*----갤러리 수장고----*/

  #gallery{
  background: mintcream;
  position: relative;
  padding: 50px;;
  }
    #gallery>ul{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      
     
   
    }
      #gallery>ul>li{
        background: darkseagreen;
        border:0px green solid;
        padding:;
        max-height: ;

        position: relative;
      }
        #gallery>ul>li>span{
          display: block;
          max-height: 100px;
          width: 100%;
          padding-top:100%;
          background: url(../img/gradation_purple.jpeg) no-repeat;
          background-size: 100vh 100% contain;
       
        }
       
      #gallery>ul>li>p{
        position:absolute;
        background:rgba(255,255,255,0.5);
        border: 0px solid red;
        width: ;
        padding:10px;
        left:0px;
        right: 0px;
        bottom:0px;
        z-index: 2;
      }
        #gallery button#gallery_page{
          position: absolute;
          right: 10px;
          bottom:10px ;
          width: 200px;
        }

/*----Students----*/

#studentLists{
  min-height: 500px;
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}
  #students>ul{
    
  }
  #students>ul>li{
    padding:10px;
    border:paleturquoise 10px solid;
  }


.students_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

        ol.students_wrapper>li{
          background: mintcream;
          border: 0 px solid red;
          margin:1vw;
          padding:20px;
        }
          ol.students_wrapper>li>img{
            margin-bottom: 10px;
          }

/*----  마이페이지 ----*/
#myPage{
  min-height: 500px;
  
}
 #myPage>p{
   background:;
   margin:30px;
 }



/*----footer----*/

footer{
  background-color: darkslategrey;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

  footer>button{
    background:;
  }


  footer>button:hover{
    background: white;
    cursor: pointer;
  }






/*----Grid Test----*/

.gridTest {
  margin-top: 10px;
  padding: 30px;
}

  .gridTest>div{
    background-color: ;

  }
    .gridTest>.view{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);

  
    }
      .view>div{
        border: 0px red solid; 
        min-width: 10em;
      }
        .fv{
          grid-column: 1 / 4;
          grid-row: 1 / 4 ;
          background-image: url() ; 
        }
          .fv>img{
            width: 100%;
          }
        .viewText{
          grid-column: 4 / 5;
          grid-row: 1;
        }
        .tv{
          grid-column: 4 / 5;
          grid-row: 3 / 4;
          background-image: url( )) ;
          position: relative; 
        }
          .tv>img{
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
          }
        
    .gridTest>.walls{
      grid-column: 1 / 3;
      grid-row: 2;
      min-height: 100px;
      margin-top: 20px;
      border: 0px red solid;
      color: ;
      background-image: url() ; 
      background-position: left top;
    }
    .gridTest>.walls>img{
      width: 100%;
    }
      .gridTest>.walls>ol{
        margin:10px 0px;
        width: ;
        ;
      }
      .gridTest>.walls>ol>li{
        width: 24%;display: inline-block;
        background: ;
        min-height: 100px;
      }


  /*---- Grid Test ----*/
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }




/*----Wrapper----*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

  .wrapper>*{
    background: rgba(225,225,225,0.5);
    border: ;
    margin:1vw;
  }
    .one {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .two {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
    .three {
      grid-column: 1;
      grid-row: 2 / 5;
    }
    .four {
      grid-column: 3;
      grid-row: 3;
    }
    .five {
      grid-column: 2;
      grid-row: 4;
    }
    .six {
      grid-column: 3;
      grid-row: 4;
    }

